.welcome {
  background: url(../img/hotels/background-2.png) no-repeat;
  Width: 1200px;
  height: 217px;
}


.container {
  max-width: 1200px;
  margin: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.nav_list {
  list-style-type: none;
}

.navigation a {
  text-decoration: none;
  color: black;
}
