body {
  font-family: PT Sans, PT Serif, serif;
  text-transform: uppercase;
  background-color: #f1f1f1;
  font-size: 14px;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: auto;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*NAVIGATION*/

.nav_list_right {
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 240px;
  align-self: center;
  text-align: center;
}

.nav_list_left {
  margin-left: auto;
  width: 240px;
  align-self: center;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav_link{
  text-decoration: none;
  color: black;
  font-weight: 700;
  justify-content: space-around;
}

.nav_menu {
  display: -webkit-flex;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}

.nav_menu::after {
  content: '';
  flex-grow: 1;
  order: 0;
}

.nav_link_fourth {
  padding-right: 3px;
  color: #766357;
}

.nav_link:focus,
.nav_link:hover {
  color: #81b3d2;
  transition: all 0.2s linear;
}

.nav_link:active {
  color: #b2b2b2;
  transition: all 0.2s linear;
}

.nav_link_second {
  padding-left: 3px;
}

.nav_link_third {
  padding-left: 3px;
}

.nav_link_fourth {
  padding-left: 17px;
}

.nav_list_right {
  order: 1;
}

.nav_logo {
  position: absolute;
  z-index: 1;
  right: 530px;
  top: 0px;
}

.navigation {
  position: relative;
  background-color: #ffffff;
}


/* FOOTER */

footer {
  background-color: #ffffff;
  display: flex;
  height: 120px;
  justify-content: space-around;
  align-items: center;

}

.footer_link {
  font-size: 21px;
}

.footer_web {
  padding-right: 8px;
  margin: auto 0;
}

.footer_logo {
  display: flex;
  margin-left: 30px;
}

.footer_logo_img {
  margin-top: -12px;
}

.footer_link {
  text-decoration: none;
  color: black;
  font-weight: 700;
  justify-content: space-around;
}

.footer_link {
  padding-left: 35px;
}


/*FILTER RANGE*/


.filter_range {
  width: 330px;
  margin-left: 12px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter_range_title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price_controls {
  position: relative;
  width: 312px;
  height: 33px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price_controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price_controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 34px;
  vertical-align: top;

  cursor: pointer;
}

.price_controls .min_price,
.price_controls .max_price {
  width: 81px;
  padding-left: 65px;
}

.price_controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range_controls {
  position: relative;
  width: 315px;
  margin-bottom: 32px;
}

.range_controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range_controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range_toggle {
  position: absolute;
  top: -8px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range_toggle:hover {
  background: #1c4f80;
}

.range_toggle_min {
  left: 0;
}

.range_toggle_max {
  left: 80%;
}

.btn_transparent {
  display: block;
  margin-left: 83px;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn_transparent:hover,
.btn_transparent:focus{
  color: #000000;
  background: #ffffff;
  transition: all 0.2s linear;
}

/*SEARCH*/

.search {
  background-color: #fefefe;
}

.search_types {
  display: flex;
  padding: 31px 72px 29px;
  border-bottom: 1px solid #e5e5e5;
  align-items: center;
}

.search_title {
  padding-right: 49px;
}

.search_subtitle {
  font-size: 12px;
  padding-right: 40px;
}

.search_list {
  margin-right: 33px;
  font-size: 12px;
  background: none;
  text-transform: inherit;
}

.search_list_active {
color: #b9d3e4;
}

.search_list_no_active {
  color: #d2d2d2;
  border-bottom: 1px dotted #81b3d2;
}

.search_list_no_active:focus,
.search_list_no_active:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
  transition: all 0.2s linear;
}

.search_list_no_active:active {
  color: #000000;
  border: 0;
  transition: all 0.2s linear;
}

.up_button,
.down_button {
  width: 11px;
  height: 10px;
  background-color: #ffffff;
}

.up_button {
  margin-right: 8px;
  text-align: end;
}

.up_button path {
  fill: #cacaca;
}

.down_button path {
  fill: #81b3d2;
}

.search_buttons {
  margin-left: auto;
}

.down_button:hover path,
.up_button:hover path, 
.down_button:focus path,
.up_button:focus path {
  fill: #000000;
  transition: all 0.2s linear;
}

.down_button:active path,
.up_button:active path {
  fill: #81b3d2;
  transition: all 0.2s linear;
}


/*FORM */

form label {
  display: block;
  margin-top: 23px;
  margin-bottom: 5px;
}

form input:not([type="text"]) {
    float: left;
    height: 0;
    width: 0;
}


form input + label::before {
content: "";
display: inline-block;
width: 31px;
height: 23px;
margin-right: 8px;
vertical-align: middle;
background: url("../img/hotels/checkbox-off.png") no-repeat;
border: 0;
}


form input:checked + label::before {
background: url("../img/hotels/checkbox-on.png") no-repeat;
width: 31px;
height: 23px;
border: 0;
}

form input:focus + label {
  outline: solid 1px blue;
  }

form input:disabled + label::before {
  background: url("../img/hotels/checkbox-off-brown.png") no-repeat;
  width: 31px;
height: 23px;
}

form input:disabled:checked + label::before {
  background: url("../img/hotels/checkbox-on-brown.png") no-repeat;
} 

fieldset {
  border: 0;
}

.second_fieldset {
  margin-left: -192px;
}

legend {
  font-size: 16px;
  font-weight: 700;
}


/*SOCIAL*/

.social_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.social_button:hover,
.social_button:focus {
  background-color: #669ec0;
  transition: all 0.2s linear;
}

.social_button:active path{
  background-color: #5496bd;
  fill: #88b6d1;
  transition: all 0.2s linear;
}

.footer_social {
  margin-left: 55px;

}

.footer_social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
  padding: 0;
  
  list-style: none;
}


.logo_button{
  width: 115px;
  height: 41px;
  fill: #ffffff;
}

.logo_button:hover path,
.logo_button:focus path{
  fill: #81b3d2;
  transition: all 0.2s linear;
}

.logo_button:active path {
  fill: #bdbbbc;
  transition: all 0.2s linear;
}

/*HOTELS*/

.hotels {
  display: flex;
  padding: 30px 72px 27px;
  border-bottom: 1px solid #e5e5e5;
}

.hotels_img {
  padding-right: 30px;
}

.hotels_title {
  line-height: 0.8;
  padding-bottom: 15px;
}

.hotels_title:hover,
.hotels_title:focus {
  color: #81b3d2;
  transition: all 0.2s linear;
}

.hotels_title:active {
  color: #cacaca;
  transition: all 0.2s linear;
}

.hotel_rating {
  margin-left: auto;
  text-align: end;
}

.hotels_button {
  margin-top: 22px;
}

.hotels_price_first {
  padding-left: 36px;
}

.hotels_price_second {
  padding-left: 62px;
}

.hotels_price_third {
  padding-left: 18px;
}

.details_button,
.reserve_button {
  list-style-type: none;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
}

.details_button {
  padding: 4px 17px;
  background-color: #81b3d2;
  margin-right: 2px;
}

.details_button:focus,
.details_button:hover {
  background-color: #669ec0;
  transition: all 0.2s linear;
}

.reserve_button:focus,
.reserve_button:hover {
  background-color: #604e43;
  transition: all 0.2s linear;
}

.details_button:active {
  background-color: #5496bd;
  color: #85b0cd;
  transition: all 0.2s linear;
}

.reserve_button:active {
  background-color: #503e33;
  color: #928a85;
  transition: all 0.2s linear;
}

.reserve_button {
  padding: 4px 17px;
  background-color: #766357;
}

.hotels_stars {
  padding-left: 2px;
}

.btn_rating {
  background-color: #f2f2f2;
  padding: 5px 13px 6px 16px;
  text-transform: uppercase;
  color: #666666;
  margin-top: 43px;
}

/*CHOICE*/

.choice {
  background: url(../img/hotels/background-2.png) no-repeat;
  color: white;
  padding: 28px 59px 15px 63px;
  display: flex;
  justify-content: space-between;

}

.choice_title {
  font-size: 16px;
  font-weight: 700;
}

.choice_item {
  list-style-type: none;
}