body {
  font-family: PT Sans;
  text-transform: uppercase;
  background-color: #f1f1f1;
  font-size: 14px;
}

.welcome {
  background: black url(../img/index/bckgr.jpg) no-repeat;
  Width: 1200px;
  height: 510px;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: auto;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.social_img {
  background-color: #81b3d2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.welcome_img {
  padding-top: 75px;
  padding-left: 370px;
}

.welcome_polygon {
  position: absolute;
  bottom: -4px;
  left: -1px;
}

.nav_list_right {
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 239px;
  align-self: center;
  text-align: center;
}

.nav_list_left {
  margin-left: auto;
  width: 239px;
  align-self: center;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav_link,
.footer_link {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.nav_menu {
  display: -webkit-flex;
  display: flex;
  list-style-type: none;
}

.nav_menu::after {
  content: '';
  flex-grow: 1;
  order: 0;
}

.nav_list_right {
  order: 1;
}

.nav_logo {
  position: absolute;
  z-index: 1;
  right: 528px;
  top: 0px;
}

.navigation {
  position: relative;
  background-color: #ffffff;
}

.info_title {
  padding: 61px 380px 37px;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  width: 440px;
  height: 48px;
  line-height: 1.24;
}

.info {
  background-color: #ffffff;
}

.info_text {
  font-weight: normal;
  text-align: center;
  color: #333333;
  padding: 0px 355px 56px;
}

.real_city {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #81b3d2;
  text-align: center;
  height: 255px;
  color: white;
}

.real_city_descr {
  flex: 1 1 auto;
  width: 400px;
}

.real_city_img {
  flex: 2 1 auto;
}

.real_city_title,
.second_reason_title,
.reason_title {
  font-size: 21px;
  font-weight: 700;
}

.reason_number {
  padding: 25px 0;
}

.reason_text {
  color: #333333;
}

.recommendation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
}

.recommend_item {
  flex: 1 1 1;
  padding-top: 60px;
  padding-bottom: 83px;
  text-align: center;
}

.recommend_title {
  padding-top: 32px;
  padding-bottom: 28px;
  font-size: 21px;
  font-weight: 700;
}

.recommend_text {
  color: #333333;
}

.second_reason {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #81b3d2;
  text-align: center;
  height: 255px;
  color: white;
}

.second_reason_descr {
  flex: 1 1 auto;
  width: 400px;
}

.second_reason_img {
  flex: 2 1 auto;
}

.other_reasons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #eeeeee;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 63px;
}

.reason_title {
  line-height: 1;
}

.search {
  background-color: #ffffff;
  text-align: center;
  padding-top: 50px;
}

.search_title {
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 25px;
}

.search_text {
  line-height: 1.24;
  padding-bottom: 135px;
}

.form {
  text-align: center;
  width: 568px;
  margin: auto;
  font-weight: 700;
  z-index: 1;
}

.form_main {
  background-color: #ffffff;
  padding: 55px;
}

.form_date {
  position: relative;
}

.calendar_img {
  position: absolute;
  right: 25px;
  top: 10px;
  color: #a9a9a9;
}

.form_buttom {
  background-color: #766357;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 21px;
  padding-top: 31px;
  padding-bottom: 31px;
  width: 568px;
}

.form_departure {
  position: relative;
}

.calendar_img_2 {
  position: absolute;
  right: 25px;
  top: 10px;
  color: #a9a9a9;
}

#check_in_date,
#date_of_departure {
  width: 345px;
  background-color: #f2f2f2;
  height: 38px;
  margin-bottom: 30px;
}

.button_search {
  background-color: #81b3d2;
  font-size: 21px;
  color: #ffffff;
  width: 458px;
  height: 58px;
  text-transform: uppercase;
  font-weight: 700;
}

input[type=button] {
  border: none;
}

input[type="text"]::-webkit-input-placeholder { 
  text-transform: uppercase;
  color: #000000; 
  font-weight: 700;
  padding-left: 13px;
}

input[type="text"]:-ms-input-placeholder { 
  text-transform: uppercase;
  color: #000000; 
  font-weight: 700;
  padding-left: 13px;
}

input[type="text"]::-ms-input-placeholder { 
  text-transform: uppercase;
  font-weight: 700;
  color: #000000; 
  padding-left: 13px;
}

input[type="text"]::placeholder { 
  text-transform: uppercase;
  color: #000000; 
  font-weight: 700;
  padding-left: 13px;
}

.map {
  position: relative;
}

footer {
  height: 120px;
  opacity: 0.9;
  background-color: #ffffff;
  position: absolute;
  width: 1200px;
  bottom: -2279px;
}

.footer_link {
font-size: 21px;
padding: 50px 255px 50px 132px;
}

footer {
  display:flex;
}

.footer_logo {
  padding-right: 100px;
}

.img_logo {

}

